<p id="notice"><%= notice %></p>

<p>
  <b>Store url:</b>
  <%= @bigcommerce.store_url %>
</p>

<p>
  <b>Username:</b>
  <%= @bigcommerce.username %>
</p>

<p>
  <b>Api key:</b>
  <%= @bigcommerce.api_key %>
</p>


<%= @test %>
